# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtualenv
venv/
env/

# Django stuff:
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# macOS
.DS_Store

# Environment Variables
.env
